html, body {
  margin: 0;
  max-width: 100%;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;

  text-align: center;
  background-color: #282c34;
  color: #ffffff;
}
